/* Reset default margin and padding */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: "Libre Franklin";
    height: 100vh;
}

nav, header {
  display: flex;
  justify-content: space-between;
}

header {
  padding: 25px;
}

form {
	width: 100%;
}

nav {
	align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #999;
}
/* Center the content */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	width: 83.3333%;
}
/* Style the main content container */

/* Style the heading */
h1 {
    font-size: 32px;
    margin-bottom: 20px;
	font-weight: 32px;
	letter-spacing: .02em;
	font-family: "Fjalla One";
}

/* Style the paragraph */
p {
    line-height: 1.8em;
    font-size: 24px;
}

/* Style the label for total savings input */
h3 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: "Libre Franklin";
}

/* Style the input for total savings */
input[name='zakat'] {
    width: 25%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
}

/* Style the submit button */
input[type='submit'] {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

/* Style the Donate Now button */
a > button {
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #000;
    color: #fff;
    border: solid 1px transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
}

/* Hover effect on buttons */
input[type='submit']:hover, a > button:hover {
    background-color: #fff;
	color: #000;
	border: solid 1px #000;
}

/* Responsive styles */
@media (max-width: 600px) {
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 16px;
    }
}

footer {
  background-color: #000;
  padding: 20px;
  text-align: center;
}

.social-icons {
  margin-bottom: 10px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

footer > p {
	color: white;
}
