body {
	margin: 0;
	padding: 0;
}

.content {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.profile-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}