<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conference</title>
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <content class="content">
        <img src='https://www.wcpec-8.com/templates/yootheme/cache/40/wcpec-8_slider-home_1-40e234e8.jpeg'></img>
        <br>
        <div class="content">
            <h1>Conference</h1>
            <p>Brief intro here!</p>
            <div class="profile-container">
                <div class='profiles'>
                    <img  width="200px" length="200px" src='https://www.wvi.org/sites/default/files/styles/large_780x520/public/2019-06/WV277121.jpg?itok=uPwrtu3R' ></img>
                    <center> <h4>Maria</h4> </center>   
                    <p> Maria is a vet, she has 7 cats, she LOVES pudding</p>
                </div>

                <div class='profiles'>
                    <img width="200px" length="200px" src='https://www.voicesofyouth.org/sites/voy/files/styles/big_blog_teaser/public/images/2020-07/uni309268.jpg?itok=47eiJxM1'>
                     <center> <h4>Ismael</h4> </center>
                    <p> Ismael is a very smart, talented pianist, likes to draw and is a winetaster</p>
                </div>

                <div class='profiles'>
                    <img width="200px" length="200px" src='https://upload.wikimedia.org/wikipedia/commons/1/1d/Knitting_a_brighter_future_for_Syrian_refugees_in_Lebanon_%2811173833666%29.jpg'>
                    <center> <h4>Muna</h4> </center>
                    <p> Muna is a well known surfer, live in Homs shes a pasta lover</p>
    			</div>
    		</div>
            <br>
            <h2> Settings[When and Where] </h2>
            <form>
                <div>
                    <h3> Organization: </h3>
                    <input type='textarea' name= 'org'>
                </div>

                <div>
                    <h3> Email address: </h3>
                    <input type='textarea' name='email'>
                </div>

                <div>
                    <h3> Phone Number: </h3>
                    <input type="textarea" name="phone">
                </div>

                <div>
                    <h3> Donation: </h3>
                    <input type="textarea" name="donations">
                </div>
            </form>
        </div>
    </content>
</body>
</html>
